.outer{
    height: 100vh;
    background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;
}
.panel-heading{
    text-align: center;
    margin-bottom: 10px;
}

#forget{
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
    
}

a:hover{
    text-decoration: none;
}
.form-inline label{
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn{
    margin-top: 20px;
    border-radius: 15px;

}

.panel{
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px;
    margin-top: 100px;
}

.input-field{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff;

}
.input-field-error{
   border: 1px solid red;
   color: red;
}

input[type='text'],
input[type='password']{
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.fa-eye-slash.btn{
    border: none;
    outline: none;
    box-shadow: none;
}

img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.bordert{
    border-top: 1px solid #aaa;
    position: relative;
}

.bordert:after{
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 0 8px;
}


/* --------------------------------------------------------------------------------- */


body {
    margin-top: 0px;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #39464e;
  }
  
  .navbar-default {
    background-color: #FFF;
    margin-left: 200px;
  }
  
  /*main side bar*/
  .msb {
    width: 200px;
    background-color: #F5F7F9;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    min-height: 100%;
    overflow-y: auto;
    white-space: nowrap;
    height: 100%;
    z-index: 1;
    border-right: 1px solid #ddd;
    
    .navbar {
      border: none;
      margin-left: 0;
      background-color: inherit;
    }
    .navbar-header {
      width: 100%;
      border-bottom: 1px solid #e7e7e7;
      margin-bottom: 20px;
      background: #fff;
    }
    .navbar-nav {
      .panel {
        border: 0 none;
        box-shadow: none;
        margin: 0;
        background: inherit;
      }
      li {
        display: block;
        width: 100%;
        a {
          padding: 15px;
          color: #5f5f5f;
          .glyphicon, .fa {
            margin-right: 8px;
          }
        }
      }
    }
    .nb {
      padding-top: 5px;
      padding-left: 10px;
      margin-bottom: 30px;
      overflow: hidden;
      
    }
  }
  ul.nv,
  ul.ns {
    position: relative;
    padding: 0;
    list-style: none;  
  }
  .nv {  
    li {
      display: block;
      position: relative;
      
      &::before {
        clear: both;
        content: "";      
        display: table;
      }
      a {
        color: #444;
        padding: 10px 25px;
        display: block;
        vertical-align: middle;
        
        .ic {
          font-size: 16px;
          margin-right: 5px;
          font-weight: 300;
          display: inline-block;
        }
      }
    }
    /*ns: nav-sub*/
    .ns {
      li {
        a {
          padding: 10px 50px;
        }
      }
      
    }
    
  }
  
  
  /*main content wrapper*/
  .mcw {
    margin-left: 200px;
    position: relative;
    min-height: 100%;
    
    /*content view*/
    .cv {
    }
  }
  
  
  /*globals*/
  a,
  a:focus,
  a:hover {
   text-decoration: none;
  }
  
  .inbox {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    
    ul, li {
      margin: 0;
      padding: 0;
    }
    ul {    
      li {
        list-style: none;
        a {
          display: block;
          padding: 10px 20px;
        }
      }
    }
  }
  .msb, .mnb {
      -moz-animation: slidein 300ms forwards;
      -o-animation: slidein 300ms forwards;
      -webkit-animation: slidein 300ms forwards;
      animation: slidein 300ms forwards;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;  
  }
  .mcw {
      -moz-animation: bodyslidein 300ms forwards;
      -o-animation: bodyslidein 300ms forwards;
      -webkit-animation: bodyslidein 300ms forwards;
      animation: bodyslidein 300ms forwards;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;  
  }
  body.msb-x {
  
    .mcw, .mnb {
      margin-left: 0;
  -moz-animation: bodyslideout 300ms forwards;
      -o-animation: bodyslideout 300ms forwards;
      -webkit-animation: bodyslideout 300ms forwards;
      animation: bodyslideout 300ms forwards;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    .msb {
      -moz-animation: slideout 300ms forwards;
      -o-animation: slideout 300ms forwards;
      -webkit-animation: slideout 300ms forwards;
      animation: slideout 300ms forwards;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
  }
  
    /* Slide in animation */
    @-moz-keyframes slidein {
      0% {
        left: -200px;
      }
      100% {
        left: 0;
      }
    }
    @-webkit-keyframes slidein {
      0% {
        left: -200px;
      }
      100% {
        left: 0;
      }
    }
    @keyframes slidein {
      0% {
        left: -200px;
      }
      100% {
        left: 0;
      }
    }
    @-moz-keyframes slideout {
      0% {
        left: 0;
      }
      100% {
        left: -200px;
      }
    }
    @-webkit-keyframes slideout {
      0% {
        left: 0;
      }
      100% {
        left: -200px;
      }
    }
    @keyframes slideout {
      0% {
        left: 0;
      }
      100% {
        left: -200px;
      }
    }
  
    @-moz-keyframes bodyslidein {
      0% {
        left: 0;
      }
      100% {
        margin-left: 200px;
      }
    }
    @-webkit-keyframes bodyslidein {
      0% {
        left: 0;
      }
      100% {
        left:0
      }
    }
    @keyframes bodyslidein {
      0% {
        margin-left: 0;
      }
      100% {
        margin-left: 200px;
      }
    }
    @-moz-keyframes bodyslideout {
      0% {
        margin-left: 200px;
      }
      100% {
        margin-right: 0;
      }
    }
    @-webkit-keyframes bodyslideout {
      0% {
        margin-left: 200px;
      }
      100% {
        margin-left: 0;
      }
    }
    @keyframes bodyslideout {
      0% {
        margin-left: 200px;
      }
      100% {
        margin-left: 0;
      }
    }